parameters:
    paths:
        - ../app
        - ../packages/slogger

    excludePaths:
        - ../app/Console/Commands/Local
        - ../app/Models

    level: 6

    ignoreErrors:
        -
            message: '#Unsafe usage of new static#'
        -
            message: '#Call to an undefined method Illuminate\\Database\\Query\\Builder::toBase#'
        -
            message: '#Access to an undefined property MongoDB\\Model\\BSONDocument#'
        -
            messages:
                - '#Property [\s\S]* is never read, only written#'
                - '#Property [\s\S]* type has no value type specified in iterable type array#'

            path: "*Resource.php"
        -
            message: '#return type has no value type specified in iterable type array#'
            path: "*Request.php"
        -
            messages:
                - '#Parameter \#1 \$callback of method Illuminate\\Support\\Collection<int\,stdClass\>::map\(\) expects callable\(stdClass\, int\)#'
