parameters:
    paths:
        - ../app
        - ../packages/slogger
    excludePaths:
        - ../app/Console/Commands/Local
        - ../app/Models
        - ../packages/slogger/grpc/generated
        - ../packages/slogger/laravel/src/Dispatcher/Items/Queue/ApiClients/Grpc
    level: 6
    ignoreErrors:
        -
            message: '#Unsafe usage of new static#'
        -
            message: '#Call to an undefined method Illuminate\\Database\\Query\\Builder::toBase#'
        -
            message: '#Access to an undefined property MongoDB\\Model\\BSONDocument#'
        -
            messages:
                - '#Property [\s\S]* is never read, only written#'
                - '#Property [\s\S]* type has no value type specified in iterable type array#'

            path: *Resource.php
        -
            path: ../app/Modules/Trace/Infrastructure/Grpc/TraceCollectorService.php
            messages:
                - '#Using nullsafe method call on non\-nullable type Google\\Protobuf\\#'
                - '#Using nullsafe method call on non-nullable type SLoggerGrpcDto\\TraceCollector\\TagsObject#'
        -
            message: '#return type has no value type specified in iterable type array#'
            path: *Request.php
        -
            messages:
                - '#Unable to resolve the template type TKey in call to function collect#'
                - '#Parameter \#1 \$callback of method Illuminate\\Support\\Collection<int\,stdClass\>::map\(\) expects callable\(stdClass\, int\)#'
