parameters:
    paths:
        - ../app
    excludePaths:
        - ../app/Console/Commands/Local
    level: 5
    ignoreErrors:
        -
            message: '#Unsafe usage of new static#'
        -
            message: '#Call to an undefined method Illuminate\\Database\\Query\\Builder::toBase#'
        -
            message: '#Call to an undefined method Illuminate\\Database\\Eloquent\\Builder::toMql#'
        -
            message: '#Call to an undefined method Illuminate\\Database\\Query\\Builder::with#'
        -
            message: '#Call to an undefined method Illuminate\\Database\\Eloquent\\Relations\\BelongsTo::select#'
        -
            message: '#Access to an undefined property MongoDB\\Model\\BSONDocument#'
        -
            message: '#Property [\s\S]* is never read, only written#'
            path: *Resource.php
        -
            path: ../app/Modules/Trace/Infrastructure/Grpc/TraceCollectorService.php
            messages:
                - '#Using nullsafe method call on non\-nullable type Google\\Protobuf\\#'
                - '#Using nullsafe method call on non-nullable type SLoggerGrpcDto\\TraceCollector\\TagsObject#'
