version: '3'

# https://roadrunner.dev/docs/http-http/current/en

server:
  command: 'vendor/bin/rr-http-worker.php'
  env:
    - XDEBUG_SESSION: 0

rpc:
  listen: "tcp://0.0.0.0:9011" # not all rr commands can use dotenv

http:
  address: "${RR_COLLECTOR_HTTP_HOST:-0.0.0.0}:${RR_COLLECTOR_HTTP_PORT:-9021}"
  middleware:
    - gzip
    - static
    - http_metrics
  static:
    dir: public
    forbid:
      - .php
  pool:
    num_workers: ${RR_COLLECTOR_HTTP_WORKERS_QUANTITY:-10}
    allocate_timeout: 60s
    destroy_timeout: 60s
    debug: false

# /health?plugin=http
status:
  address: "${RR_COLLECTOR_STATUS_HOST:-0.0.0.0}:${RR_COLLECTOR_STATUS_PORT:-2113}"

# /metrics
metrics:
  address: "${RR_COLLECTOR_METRICS_HOST:-0.0.0.0}:${RR_COLLECTOR_METRICS_PORT:-2115}"

logs:
  mode: development
  level: debug
  file_logger_options:
    log_output: "storage/logs/rr/rr-collector-log.log"
    max_size: 10
    max_age: 10
    max_backups: 10
    compress: true
